# Java
*.jar
*.war
*.ear
bin
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle
log/
target/
logs/
.gradle/
build/
out/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
bin/

# STS
.apt_generated
.factorypath
.settings
.springBeans

spring.log
spring.log.1
spring.log.2

