<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<span>You have successfully applied for the project:</span>
	<br></br>
	<ul>
		<li>
			Project Name: <span th:text="${project.name}"></span>
		</li>
		<li>
			Project Link: <span th:text="${projectLink}"></span>
		</li>
	</ul>
	If you would like to follow up with the application status, please contact:
	<ul>
		<li>
			Organization Name: <span th:text="${org.name}"></span>
		</li>
		<li>
			Organization Owner Name: <span th:text="${org.contactName}"></span>
		</li>
		<li>
			Organization Owner Email: <span th:text="${org.contactEmail}"></span>
		</li>
		<li>
			Organization Owner Phone: <span th:text="${org.contactPhone}"></span>
		</li>
	</ul>
</body>
</html>