<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<span>You have successfully applied for the project:</span>
	<br></br>
	<ul>
		<li>
			Project Name: <span th:text="${project.name}"></span>
		</li>
		<li>
			Project Link: http://dev.code4socialgood.org/project/view/<span th:text="${user.firstName + ' ' + user.lastName}"></span>
		</li>
	</ul>
	If you would like to follow up with the application status, please contact:
	<ul>
		<li>
			
		</li>
	</ul>
</body>
</html>