<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<span>Congratulation! You have been accepted into the project. The project owner will contact you shortly. Or you could contact the project owner directly.</span>
	<br></br>
	<br></br>
	Project:
	<ul>
		<li>Project Name: <span th:text="${project.name}"></span></li>
		<li>Project Link: <span th:text="${projectLink}"></span></li>
	</ul>
	Organization Contact:
	<ul>
		<li>Organization Name: <span th:text="${org.name}"></span></li>
		<li>Organization Contact Name: <span th:text="${orgUser.firstName + ' ' + orgUser.lastName}"></span></li>
		<li>Organization Contact Email: <span th:text="${orgUser.email}"></span></li>
		<li>Organization Contact Phone: <span th:text="${orgUser.phone}"></span></li>
	</ul>
</body>
</html>